<div id='cssmenu'>
    <ul>
        <li class='active'>
            <a ui-sref="welcome.clients">Add</a>
        </li>
        <li>
            <a ui-sref="welcome.schedules">Create</a>
        </li>
         <li>
            <a ui-sref="welcome.search">Manage</a>
        </li>
    </ul>
</div>



<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">
            <h4 style="text-align: left">Add new clients</h4>

        <form name="addClientForm" ng-submit="addClientForm.$valid && ctrl.addClient()" novalidate>
            <div class="row">

         <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <input name="firstname" class="form-control" type="text" placeholder="First name" ng-model="ctrl.client.firstname" required>
                <div data-ng-show="addClientForm.firstname.$touched || addClientForm.$submitted">
                    <div class="validation" data-ng-show="addClientForm.firstname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your client's first name
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input name="lastname" class="form-control" type="text" placeholder="Last name" ng-model="ctrl.client.lastname" required>
                <div data-ng-show="addClientForm.lastname.$touched || addClientForm.$submitted">
                    <div class="validation" data-ng-show="addClientForm.lastname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your client's last name
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input name="mobile" class="form-control" minlength="8" maxlength="8" type="number" placeholder="Mobile" ng-model="ctrl.client.mobile"
                    required>
                <div data-ng-show="addClientForm.mobile.$touched || addClientForm.$submitted">
                    <div class="validation" data-ng-show="addClientForm.mobile.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Please enter your mobile number
                    </div>
                    <div class="validation" data-ng-show="addClientForm.mobile.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has at least 8 digits
                    </div>
                    <div class="validation" data-ng-show="addClientForm.mobile.$error.maxlength">
                        <span class="glyphicon glyphicon-alert"></span> Singapore mobile number has only 8 digits
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <input class="btn btn-ghost" name="submit" type="submit" value="Add">
        </div>

        </form>

        <div class="row" style="overflow-x:auto;">
      
          <table class="table col-md-12" style="margin-left: 18px; margin-top: 15px" ng-show="ctrl.showResult">
            <thead>
              <tr>
                <td><h6>First Name</h6></td>
                <td><h6>Last Name</h6></td>
                <td><h6>Mobile</h6></td>
              </tr>
            </thead>
      
            <tbody>
              <tr align="center" ng-repeat="client in ctrl.clients">
                <td>{{client.firstname}}</td>
                <td>{{client.lastname}}</td>
                <td>{{client.mobile}}</td>
              </tr>
            </tbody>
          </table>
      
        </div>


      </div>



        <!-- <form name="updateClientForm" ng-repeat="(clientIndex, client) in ctrl.clients" novalidate>

            <div class="row" style="margin-top: 10px">

                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <input name="firstname" class="form-control" type="text" ng-model="client.firstname" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <input name="lastname" class="form-control" type="text" ng-model="client.lastname" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="client.mobile" required>
                    </div>
                </div>

                <div class="col-md-3">
                     <button type="button" ng-click="ctrl.editClient(client._id)" class="btn-sm btn-warning">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button name="button" ng-click="ctrl.saveClient(client)" class="btn-sm btn-success">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </button>
                    <button type="button" ng-click="ctrl.deleteClient(client._id); ctrl.removeRow(clientIndex);" class="btn-sm btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button> 
                </div>

            </div>
        </div>

        </form> -->




        

    </div>
</div>

