<div id='cssmenu'>
    <ul>
        <li>
            <a ui-sref="welcome.clients">Add</a>
        </li>
        <li class='active'>
            <a ui-sref="welcome.schedules">Create</a>
        </li>
        <li>
            <a ui-sref="welcome.search">Manage</a>
        </li>
    </ul>
</div>

<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">


<div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">
    <h4 style="text-align: left">Create new appointments</h4>

    <form name="addBookingForm" ng-submit="addBookingForm.$valid && ctrl.addBooking()" novalidate>

        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="training" class="form-control" type="text" placeholder="Training type" ng-model="ctrl.booking.training" required>
                    <div data-ng-show="addBookingForm.training.$touched || addBookingForm.$submitted">
                        <div class="validation" data-ng-show="addBookingForm.training.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please give this training a type
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="firstname" class="form-control" type="text" placeholder="First name" ng-model="ctrl.booking.firstname" required>
                    <div data-ng-show="addBookingForm.firstname.$touched || addBookingForm.$submitted">
                        <div class="validation" data-ng-show="addBookingForm.firstname.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please add your client's first name
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="lastname" class="form-control" type="text" placeholder="Last name" ng-model="ctrl.booking.lastname" required>
                    <div data-ng-show="addBookingForm.lastname.$touched || addBookingForm.$submitted">
                        <div class="validation" data-ng-show="addBookingForm.lastname.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please add your client's last name
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="date" class="form-control dateclass placeholderclass" type="date" placeholder="Date" ng-model="ctrl.booking.date"
                        required>

                    <div data-ng-show="addBookingForm.date.$touched || addBookingForm.$submitted">
                        <div class="validation" data-ng-show="addBookingForm.date.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please add a date for your appointment
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="time" class="form-control dateclass placeholderclass" type="time" ng-model="ctrl.booking.time" placeholder="Time"
                        required>
                    <div data-ng-show="addBookingForm.time.$touched || addBookingForm.$submitted">
                        <div class="validation" data-ng-show="addBookingForm.time.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Please a time for your appointment 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <select ng-model="ctrl.booking.frequency" class="form-control" style="font-size: 0.8em">
                        <option value="" disabled selected>Frequency</option>
                        <option value="Once only">Once only</option>
                        <option value="Every day">Every day</option>
                        <option value="Weekly">Weekly</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div data-ng-show="addBookingForm.frequency.$touched || addBookingForm.$submitted">
                <div class="validation" data-ng-show="addBookingForm.booking.frequency.$error.required">
                    <span class="glyphicon glyphicon-alert"></span> Please select how frequent is this appointment
                </div>
            </div>
        </div>

        <div class="row">
            <input class="btn btn-ghost" style="margin-left: 15px" name="submit" type="submit" value="Create">
        </div>

    </form>

    <div class="row" style="overflow-x:auto;">
            
                <table class="table col-md-12" style="margin-left: 18px; margin-top: 15px" ng-show="ctrl.showResult">
                  <thead>
                    <tr>
                      <td><h6>Training Type</h6></td>
                      <td><h6>First Name</h6></td>
                      <td><h6>Last Name</h6></td>
                      <td><h6>Date</h6></td>
                      <td><h6>Time</h6></td>
                      <td><h6>Frequency</h6></td>
                    </tr>
                  </thead>
            
                  <tbody>
                    <tr align="center" ng-repeat="booking in ctrl.bookings">
                      <td>{{booking.training}}</td>
                      <td>{{booking.firstname}}</td>
                      <td>{{booking.lastname}}</td>
                      <td>{{booking.date | date:medium}}</td>
                      <td>{{booking.time | date:'h:mma' : '+0800'}}</td>
                      <td>{{booking.frequency}}</td>
                    </tr>
                  </tbody>
                </table>
            
              </div>


    <!-- <form name="updateClientForm" ng-repeat="booking in ctrl.bookings" novalidate>
            
        <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="training" class="form-control" type="text" ng-model="booking.training" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="firstname" class="form-control" type="text" ng-model="booking.firstname" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="lastname" class="form-control" type="text" ng-model="booking.lastname" required>
                </div>
            </div>

        </div>

         <div class="row" style="margin-top: 10px">

            <div class="col-md-3 col-md-offset-1">
                <div class="form-group">
                    <input name="date" class="form-control" type="text" ng-model="booking.date" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="time" class="form-control" type="text" ng-model="booking.time" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input name="frequency" class="form-control" type="text" ng-model="booking.frequency" required>
                </div>
            </div>

        </div>
    </form> -->

</div>

</div>