<div id='cssmenu'>
    <ul>
        <li>
            <a ui-sref="welcome.clients">Add</a>
        </li>
        <li>
            <a ui-sref="welcome.schedules">Create</a>
        </li>
        <li class='active'>
            <a ui-sref="welcome.search">Manage</a>
        </li>
    </ul>
</div>



<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

        

    <div class="container-fluid" style="margin-top: 50px; margin-bottom: 50px">

            <h4 style="text-align: left">Manage client and appointment list</h4>
            

        <form name="searchClientsform" ng-submit="ctrl.searchAllClients()">
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <input name="search" class="form-control" ng-model="ctrl.term" type="text" placeholder="First name" style="margin-bottom: 20px">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-ghost" name="submit" type="submit" value="Go">
                </div>
            </div>
        </form>

        <form name="updateClientForm" ng-repeat="(clientIndex, client) in ctrl.clients" novalidate>
            <div class="row" style="margin-top: 10px">

                <div class="col-md-3 col-md-offset-1">
                    <div class="form-group">
                        <input name="firstname" class="form-control" type="text" ng-model="client.firstname" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <input name="lastname" class="form-control" type="text" ng-model="client.lastname" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <input name="mobile" class="form-control" minlength="8" maxlength="8" type="text" ng-model="client.mobile" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <!-- <button type="button" ng-click="ctrl.editClient(client._id)" class="btn-sm btn-warning">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button> -->
                    <button name="button" ng-click="ctrl.saveClient(client)" class="btn-sm btn-success">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                    </button>
                    <button type="button" ng-click="ctrl.deleteClient(client._id); ctrl.removeRow(clientIndex);" class="btn-sm btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>