
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ui-sref="home">meet /peppa</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" style="font-weight: 400" ui-sref="welcome.logs">SMS Logs</a>
        <a class="nav-item nav-link" style="font-weight: 400" ui-sref="welcome.settings">Settings</a>
        <a class="nav-item nav-link" style="font-weight: 400; color:#e67e22" href="/logout">Log Out
          <span class="sr-only">(current)</span>
        </a>
      </div>
    </div>
</nav>

<body>

  <div class="row" style="margin-top:100px; margin-left: 5px;">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      
      <h4 ng-if='!ctrl.user.local || !ctrl.user.google' class="pleaselogin">Please
        <a ui-sref='login'>login</a> first</h4> 
      <h1 ng-if='ctrl.user.local.email' class="welcomeback" style="font-size:150%; color:#888">HELLO, {{ctrl.user.local.name | uppercase}}</h1>
      <h1 ng-if='ctrl.user.google.name' class="welcomeback" style="font-size:150%; color:#888">HELLO, {{ctrl.user.google.name | uppercase}}</h1>
    </div>
  </div>

  <!-- <div id='cssmenu'>
    <ul>
      <li>
        <a ui-sref="welcome.search">Search</a>
      </li>
      <li class='active'>
        <a ui-sref="welcome.clients">Add Clients</a>
      </li>
      <li>
        <a ui-sref="welcome.schedules">Add Bookings</a>
      </li>
    </ul>
  </div> -->

  <ui-view></ui-view>


</body>