* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; 
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
}

.container-fluid {
    width:100%;
    max-width:none;
}

/* --------- NAVIGATION --------- */

.navbar {
    background-color: transparent;
    font-family: 'Lato';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5000;
}

.navbar-brand {
    font-family: 'Homemade Apple', cursive;
    font-weight: 300;
    font-size: 180%;
}

.nav-link, .nav-item{
    text-align:right;
    float: right
}

.navbar-nav {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 100%;
    text-transform: uppercase;
    margin-top: -10px;
}

.navbar-nav > a:hover, 
.navbar-nav > a:focus {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 100%;
    text-transform: uppercase;
    color: #e67e22 !important;
}


/* .navbar-fixed-top {
  position: fixed; 
  right: 0;
  left: 0;
  z-index: 1030;
} */



/* --------- HERO --------- */

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center 15%;
    height: 100vh;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    margin-left:-20px;
    margin-right:-20px;
    border-radius: 1px;
    margin-bottom: 0rem;
}

.jumbotron h1 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 200%;
    color: #fff;
    text-transform: uppercase;

    word-spacing: 4px;
    letter-spacing: 5px;
    margin-bottom: -3px;

    position: relative;
    top: 200px;
    left: 30px;
   }

.jumbotron .btn-full {
    position: relative;
    top: 180px;
    left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.jumbotron .btn-ghost {
    position: relative;
    top: 180px;
    left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* --------- BUTTONS --------- */

button:focus {
    outline: none;
    box-shadow: none;
}

.btn:link,
.btn:visited,
input[type=submit],
input[type=button] {
    display: inline-block;

    font-size: 100%;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;

    padding: 10px 30px; 
    border-radius: 150px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited, 
input[type=submit],
input[type=button] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 100%;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
     color: #e67e22;
     text-transform: uppercase;
     font-family: 'Lato';
     font-weight: 100;
     font-size: 100%;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=button]:hover,
input[type=button]:active {
    background-color: white;
    color: #e67e22;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 100%;

}

.btn-full:hover,
.btn-full:active,
input[type=button]:hover,
input[type=button]:active {
    background-color: white;
    border: 1px solid #e67e22;
    color: #e67e22;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 100%;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: white;
    border: 1px solid #e67e22;
    color: #e67e22;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 100%;
}

/* --------- HEADERS --------- */

h2 {
    font-family: 'Lato';
    font-size: 30%;
    text-transform: uppercase;
}

h3 {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 200%;
 
    word-spacing: 4px;
    letter-spacing: 1px;

    text-transform: uppercase;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;

}

h3:after {
    background-color: #e67e22;
    height: 1.5px;
    content: " ";
    width: 100px; 

    display: block;
    margin: 0 auto; 
    margin-top: 30px;
}

h4 {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 150%;

    text-transform: uppercase;
    text-align: center;

    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

h5 {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 150%;

    text-transform: uppercase;
    text-align: center;
    margin-bottom: -2px;
}


h6 {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 100%;

    text-transform: uppercase;
    text-align: center;
    margin-bottom: -2px;
}

p {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 110%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

select {
    font-family: 'Lato';
    font-weight: 300;
}

/* --------- ICONS --------- */

.icons {
    font-size: 250%; 
    display: block;
    color: #e67e22;
    text-align: center; 
    margin-bottom: 10px; 
    margin-top: 30px; 

}

/* --------- WHAT --------- */

.what {
    margin: 0px;
    padding-top: 60px;
}


/* --------- HOW --------- */

.how {
    background-color: #f7f7f7;
    margin: 0px;
    padding-top: 60px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%
}

.work-steps {
    margin-bottom: 30px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 120%;
    padding: 5px; 
    float: left; 
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}

.btn-app:link, 
.btn-app:visited {
    border: 0;
}


/* --------- TESTIMONIALS --------- */

.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(img/testimonials.jpg);
    background-size: cover;
    background-position: right;
    color: #fff;
    background-attachment: fixed;
    margin: 0px;

}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
        
}

blockquote:before {
    content: "\201C";
    font-family: 'Lato';
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    margin-bottom: 60px;
    
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* --------- PRICING --------- */

.plans {
    background-color: #ffffff;
    margin: 0px;
    padding-top: 60px;  
}

.plan-box-start {
    background-color: #fff;
    border-radius: 20px;
    width: 102%;
    margin-top: 20px;
    margin-bottom: 150px;
    box-shadow: 0 2px 2px #d4d4d4;
}

.plan-box-start div {
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
}

.plan-box-start div:first-child {
    background-color: #f7f7f7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plan-box-start div:last-child {
    text-align: center;
    border: 0;
}

.plan-price-start {
    font-size: 300%;
    font-weight: 100;
    color: #e67e22;
    
}

.plan-price-start span {
    font-size: 30%;
    font-weight: 300;
}


.plan-box-start ul {
    list-style: none;
    font-family: 'Lato';
    font-size: 120%;
    font-weight: 100;
    text-align: left;
}

.plan-box-start ul li {
    padding: 5px 0;
}

.btn-ghost-signup:link,
.btn-ghost-signup:visited {
    border: 1px solid #e67e22;
     color: #e67e22;
}

.btn-ghost-signup:hover,
.btn-ghost-signup:active {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
}

/* --------- TOOLTIP --------- */

/*
.tooltip-inner, .tooltip-arrow  {
    background-color: #e67e22;
    color: white;
    font-family: 'Lato';
    font-size: 80%;
    border-right: 8px solid #e67e22;
}
*/

a.tip {
    position: relative;
  }
  
  a.tip span {
    color: white;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 70%;
    text-align: center;
    display: none;
    position: absolute;
    top: -5px;
    left: 25px;
    width: 200px;
    padding: 5px;
    z-index: 100;
    background: #e67e22;
    color: #fff;
    -moz-border-radius: 5px;
    /* this works only in camino/firefox */
    -webkit-border-radius: 5px;
    /* this is just for Safari */
  }
  
  a.tip span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #e67e22;
    left: -8px;
    top: 7px;
  }
  
  a:hover.tip {
    font-size: 99%;
    /* this is just for IE */
  }
  
  a:hover.tip span {
    display: block;
  }

/* --------- CONTACT US --------- */

.contact {
    background-color: #f7f7f7;
    margin: 0px;
    padding: 60px;
}

label {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 100%;

    text-transform: uppercase;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;

}

form {
    margin-right: 10px;
    margin-left: 10px;
}


/* --------- FOOTER --------- */

footer {
    background-color: #585858;
    padding: 40px; 
    font-size: 80%;
    margin: 0px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    text-align: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    font-family: 'Lato';
    font-weight: 100;
    font-size: 150%;

    text-transform: uppercase;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;

    text-decoration: none;

    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e67e22;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 200%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-google, 
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-google:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #e95950;
}

footer p {
    color: #888;
    
    
    
}

/* --------- SIGN UP --------- */

input::-webkit-input-placeholder {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 80%;
    text-transform: none;
    text-decoration: none;
}

option::-webkit-input-placeholder {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 80%;
    text-transform: none;
    text-decoration: none;
}

textarea::-webkit-input-placeholder {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 80%;
    color: #e67e22;
    text-transform: uppercase;
    text-align: left;
}

label {
    color: #e67e22;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 100%;

}

.validation {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 80%;
    text-transform: none;
    text-decoration: none;
}

/* --------- LOGIN --------- */

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 40%;
    width: 130px;
    /* Here is the modification */
    border-top: 1px solid #e67e22 ;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}


.btn-google:link,
.btn-google:visited {
    margin-top: 20px;
    display: inline-block;

    font-size: 100%;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;

    padding: 10px 30px; 
    border-radius: 150px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* --------- SIGN UP --------- */

.fa { 
    cursor: pointer; 
}

/* --------- WELCOME BACK --------- */

.welcomeback,
.pleaselogin {
    text-align:left;
    margin-left: -3px;
}

.pleaselogin a:link {
    color:#e67e22;
}
.pleaselogin a:hover,
.pleaselogin a:visited,
.pleaselogin a:active  {
    text-decoration: none;
    color:#e67e22;
    border-bottom: 1px solid #e67e22;
} 

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #e67e22;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 90%;
  text-transform: uppercase;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 100%;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #e67e22;
}

/* --------- CLIENT SEARCH --------- */

.search {
    font-family: 'Lato';
    font-size: 80%;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(212, 212, 212);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.search ul {
    list-style-type: none;
  }

  .search li {
    margin-bottom: 5px;
  }

  .search button {
    margin-top: 25px;
  }


  .dateclass{
    width:100%;
    font-family:'Lato'; 
    font-weight:300; 
    font-size: 0.8em
    }
    
    .dateclass.placeholderclass::before{
    width:100%;
    content:attr(placeholder);
    }
    
    .dateclass.placeholderclass:hover::before{
    width:0%;
    content:"";
    }