
<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" ui-sref="home">meet /peppa</a>
</nav>


<div class="row" style="margin:100px 10px 100px 10px;">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4"></div>

 
  <div class="form-control col-xs-12 col-sm-5 col-md-5 col-lg-4">


    <div class="form-group">
      <a href="/oauth/google" class="btn-google btn-danger btn-block">
        <i class="fa fa-google" aria-hidden="true"></i> Log In with Google
      </a>
    </div>

    <div class="strike">
      <span>
        <p>OR</p>
      </span>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <form name='loginForm' ng-submit='ctrl.login()' novalidate>
          <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="EMAIL" id="username" ng-model='ctrl.user.username'>
          </div>

          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="PASSWORD" id="password" ng-model='ctrl.user.password'>
          </div>

          <div class="form-group">
            <input id="submit" name="submit" type="submit" class="btn btn-full btn-block" value="Log In">
          </div>


        </form>
        <div ng-if='ctrl.msg' class="alert alert-danger" role="alert">
          <i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
      </div>
    </div>
  </div>
</div>

